
#functionalities{
  padding:20px 0;
  background-color:rgb(245,245,245);
}
.card-function {
  width: 100vw;
  height: 50vw;
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid rgb(230,230,230);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-function img {
  max-height: 100%;
}

.text-functions {
  display:block;

}

.card-white {
  background-color: rgb(245,245,245);
}

.card-white h4 {
  color:rgb(0,70,107);
  font-weight: 600;
}

.card-blue {
  background-color: rgba(0,107,170,0.5);
}

.card-blue h4 {
  color:white;
  font-weight: 600;
}


